@import "vars"
@import "libs"


$pink: #FF7C9C
html,body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  overflow-x: hidden
  scroll-behavior: smooth
.body
  width: 100%
.left-menu
  left: 0
  top: 0
  z-index: 11
  background-color: $red
  width: 20%
  height: 100vh
  position: fixed
.content
  width: 80%
  margin-left: 20%

header
  a
    font-family: 'HelveticaNeueCyr'
    font-weight: normal
    font-style: normal
    cursor: pointer
    &:hover
      text-decoration: none
      transition: .4s ease
      -webkit-transform: scale(1.1)
      -moz-transform: scale(1.1)
      -ms-transform: scale(1.1)
      -o-transform: scale(1.1)
      transform: scale(1.1)
.title
  font-size: 36px
  font-family: 'HelveticaNeueCyr'
  font-weight: 300
  font-style: normal
  text-transform: uppercase
  text-align: center
  letter-spacing: 7px
footer
  background-color: #F6F6F6
  font-family: 'HelveticaNeueCyr'
  font-weight: 300
  font-style: normal
  padding: 63px 0 71px 0
  h3
    text-transform: uppercase
    font-size: 24px
    letter-spacing: 10px
    font-weight: lighter
    span
      color: $pink
      font-weight: bold
  a
    color: black
    font-size: 14px
  a:hover
    color: $pink
  h4
    font-size: 18px
    font-weight: bold
  p
    font-size: 13px
    line-height: 1
  .subscribe
    .form-control, .btn
      border-radius: 8px
    .btn
      background: $pink
      font-size: 14px
      -webkit-transform: translateX(-40%)
      -moz-transform: translateX(-40%)
      -ms-transform: translateX(-40%)
      -o-transform: translateX(-40%)
      transform: translateX(-40%)
      font-family: 'HelveticaNeueCyr'
      font-weight: 500
      font-style: normal
    .form-control
      font-size: 12px
      opacity: 0.7
      padding: 16px
.contacts
  padding: 68px 0
  p
    font-size: 14px
.instagram
  background-image: url("../img/bg-inst.png")
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  padding: 85px 0 78px
  .swiper-slide
    width: 262px
    height: 262px
    a
      position: absolute
      width: 262px
      height: 262px
      background-color: rgba(34, 34, 34, 0.7)
      top: 0
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      -webkit-box-align: center
      -ms-flex-align: center
      align-items: center
      color: #fff
      font-size: 30px
      -webkit-box-pack: center
      -ms-flex-pack: center
      justify-content: center
      opacity: 0
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
      -webkit-transition-duration: 500ms
      transition-duration: 500ms
      border-radius: 15px
    &:hover a
      opacity: 1
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
  .fa-long-arrow-left, .fa-long-arrow-right
    font-size: 35px
.brands
  padding: 72px 0 78px
  .swiper-2
    .swiper-slide:hover
      -webkit-transform: scale(1.1)
      -moz-transform: scale(1.1)
      -ms-transform: scale(1.1)
      -o-transform: scale(1.1)
      transform: scale(1.1)
      transition: .4s ease
.news
  padding: 67px 0
  background: #F6F6F6
  span
    font-weight: bold
  .title
    margin: 0 36px
  .card
    border-radius: 20px
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15)
    margin-top: 50px
    transition: .4s ease
  .card-body
    transition: .4s ease
  p, span
    transition: .4s ease
    font-family: 'HelveticaNeueCyr'
    font-weight: 300
    font-style: normal
  .hit
    top: -5%
    left: -10%
  .card:hover
    box-shadow: 0 10px 15px rgba($pink, 0.15)
    .card-body
      background: $pink
      border-bottom-left-radius: 20px
      border-bottom-right-radius: 20px
    p, span, i
      color: white
  .btn-bottom
    border: 2px solid #A1A1A1
    border-radius: 50px
    padding: 5px 30px
    font-size: 14px
    opacity: 0.6
    cursor: pointer
    &:hover
      background-color: $pink
      transition: .4s ease
      color: white!important
      border-color: white
.mfp-fade
  &.mfp-bg
    opacity: 0
    -webkit-transition: all 0.15s ease-out
    -moz-transition: all 0.15s ease-out
    transition: all 0.15s ease-out
    &.mfp-ready
      opacity: 0.8
    &.mfp-removing
      opacity: 0
  &.mfp-wrap
    .mfp-content
      opacity: 0
      transition: all 0.4s ease-out
      background-color: white
      width: 50%
      border-radius: 10px
    &.mfp-ready .mfp-content
      opacity: 1
    &.mfp-removing .mfp-content
      opacity: 0
.white-popup
  position: relative
  max-width: 915px
  margin: 0 auto
  transition: 1s all
  font-family: HelveticaNeueCyr
  background: white
  &--right
    align-content: space-between!important
  span
    color: darkgray
  .modal-bottom
    background-color: #F3F3F3
    max-width: 231px
    align-items: center
    border-radius: 100px
    margin: 30px 0 15px
    p
      margin: 8px 45px 8px 20px
    span
      color: $pink
  .modal-price
    width: 85%
    align-items: center
    justify-content: space-between
    .btn
      background: $pink
      border-radius: 33.5px
      padding: 16px 40px
      color: white
  .swiper-5
    position: relative
    width: 100%
    height: 100%
    img
      transform: scale(1.117)
    .prev-5, .next-5
      position: absolute
      z-index: 11111
      background: white
      font-size: 24px
      border-radius: 100px
      padding: 10px 13px
    .prev-5
      bottom: 45%
      left: 10%
    .next-5
      bottom: 45%
      right: 10%

  /* overlay animate in

  /* overlay animate out
.category
  padding: 73px 0 96px
  &-subhead
    bottom: 0
    left: 0
    display: block
    background-color: $pink
    color: white
    font-family: 'HelveticaNeueCyr'
    font-weight: bold
    font-style: normal
    padding: 20px 25px 19px
    border-bottom-left-radius: 10px
    border-top-right-radius: 10px
    font-size: 18px
  &-card:hover
    .category-subhead
      width: 100%
      height: 263px
      text-align: center
      opacity: 0.8
      border-radius: 20px
      transition: .4s ease
      display: flex
      align-items: center
      justify-content: center
      span
        font-size: 32px
        transition: .9s ease
header
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link
    font-weight: bold
    text-decoration: underline
  .fa-phone
    color: $pink
.bottom-line
  border-bottom: 2px solid #EFEFEF
  margin-top: 103px
  position: relative
  img
    bottom: -21px
    left: 28%
  img:hover
    -webkit-transform: scale(1.2, 1.2)
    -moz-transform: scale(1.2, 1.2)
    -ms-transform: scale(1.2, 1.2)
    -o-transform: scale(1.2, 1.2)
    transform: scale(1.2, 1.2)
    transition: .4s ease
.btn-buy
  padding: 7px 56px
  background-color: $pink
  border-radius: 100px
  color: white
  bottom: 14%
  left: 40%
.swiper-4
  margin-bottom: 94px
  margin-left: 15%
  img
    border-radius: 20px
  .prev-4
    bottom: 10px
    left: 42%
    z-index: 11111
  .next-4
    bottom: 10px
    right: 49.5%
    z-index: 11111
  .white-box
    width: 122px
    height: 43px
    background-color: white
    bottom: 0
    right: 0
.swiper-pagination-fraction
  bottom: 10px
  left: -35px
.mega-menu
  background-image: url("../img/menu-bg.png")
  background-color: #FFECF1
  &--category
    border: 2px solid $pink
    background-color: white
    border-radius: 20px
    width: 40%
    margin: 0 auto
  .menu-container
    width: 100%
    margin: 0 auto
    padding: 20px 0
  .menu
    width: 100%
    font-family: HelveticaNeueCyr
    font-weight: 400
    font-size: 15px
    line-height: 15px
    position: relative
    padding: 0 0 0 4px
    margin: 0
    a
      color: black
      text-decoration: none
      &:link, &:visited, &:focus
        color: black
        text-decoration: none
  span
    color: #fff
    text-decoration: none
  .menu
    a:hover
      color: $pink
      text-decoration: none
    > li
      display: block
      text-align: left
      margin-left: 24px
      > a
        padding: 20px 18px
        display: block
      &:hover
        > a
          color: $pink
          background-color: #fff
        .megadrop
          opacity: 1
          visibility: visible
          margin-top: 0px
      > .megadrop
        opacity: 0
        visibility: hidden
        position: absolute
        list-style: none
        top: 3%
        left: 100%
        width: 1000px
        min-height: 97%
        text-align: left
        margin-top: 30px
        padding: 0
        z-index: 99
        border-bottom-left-radius: 5px
        border-bottom-right-radius: 5px
        overflow: hidden
        border-top: 2px solid #FFEDF1
        border-right: 2px solid #FFEDF1
        border-bottom: 2px solid #FFEDF1
        background-color: white
        p
          color: $pink
    ul li:hover:after
      color: $pink
    .col
      width: 20%
      float: left
      color: white
      margin: 50px  0 0 2.2%
      ul
        padding: 0
        margin: 0
        li
          padding: 0
          list-style: none
          font-size: 13px
      h3
        font-size: 16px
        padding: 10px 0
        font-weight: bold
        margin: 5px 0 5px 0
        color: black
      ul li a
        display: block
        padding: 0 0 15px 0
        color: black
        &:hover
          color: #111
          text-decoration: underline
    > li > ul li ul, li > ul li
      transition: all 0.2s ease-in-out
      -moz-transition: all 0.2s ease-in-out
      -webkit-transition: all 0.2s ease-in-out
      -ms-transition: all 0.2s ease-in-out
      -o-transition: all 0.2s ease-in-outs
    > li
      >
      .megadrop, ul
        transition: all 0.2s ease-in-out
        -moz-transition: all 0.2s ease-in-out
        -webkit-transition: all 0.2s ease-in-out
        -ms-transition: all 0.2s ease-in-out
        -o-transition: all 0.2s ease-in-outs
      transition: all 0.2s ease-in-out
      -moz-transition: all 0.2s ease-in-out
      -webkit-transition: all 0.2s ease-in-out
      -ms-transition: all 0.2s ease-in-out
      -o-transition: all 0.2s ease-in-outs
.category, .brands, .instagram
  .fa-long-arrow-left, .fa-long-arrow-right
    font-size: 32px
    -webkit-transform: scale(2,1.5)
    -moz-transform: scale(2,1.5)
    -ms-transform: scale(2,1.5)
    -o-transform: scale(2,1.5)
    transform: scale(2,1.5)
    color: #C4C4C4
    &:hover
      color: $pink
      transition: .4s ease
.fa
  outline: none!important
.garanty
  font-family: HelveticaNeueCyr
  h2
    margin-top: 64px
    color: $pink
    font-weight: bold
  h3, h4
    margin-top: 30px
    font-weight: bold
  h4
    font-size: 20px
.logo
  background: #FFECF1
  &:hover
    transform: unset
.bg-gray
  background: #F6F6F6
.bottom-phone
  position: fixed
  bottom: 4%
  right: 60px!important
  z-index: 11111
  margin: 0
  .fa
    font-size: 36px
    padding: 20px 24px
    border-radius: 100px
    background: deeppink
    color: white
.popup-callback
  color: black
  background: #fff
  max-width: 540px
  z-index: 111111
  border-radius: 8px
  position: relative
  margin: 0 auto
  padding: 40px 30px
  h4
    font-size: 20px
    text-align: center
    display: block
    letter-spacing: .5px
    text-transform: uppercase
  small
    font-size: 15px
    text-align: center
    display: block
  form
    margin-top: 30px
    label
      display: block
      width: 100%
      margin-bottom: 20px
      position: relative

      span
        display: block
        font-size: 16px
        // margin-bottom: 5px
        .required
          color: #F57A80
      input
        width: 100%
        padding: 10px 0
        border: none
        outline: none !important
        border-bottom: 3px solid #eaeaea
        font-size: 18px
        &:focus + .label-active
          &::before
            width: 100%
    button
      margin-top: 30px
      background: $pink
      color: white
      justify-content: center

    .form-info
      font-size: 14px
      line-height: 1.2
      margin-top: 30px

.bg-image
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  border-radius: 20px
.header-bg
  max-width: 572px
  height: 433px
.header-sub
  max-width: 262px
  height: 211px
.category-main
  max-width: 555px
  height: 555px
.category-card
  max-width: 263px
  height: 263px
  margin: 7px
.bg-card
  width: 262px
  height: 262px
  border-radius: unset
// ====== 3d unfold ======


.mfp-3d-unfold


  .mfp-content
    perspective: 2000px


  /* start state */
  .mfp-with-anim
    opacity: 0
    transition: all 0.3s ease-in-out
    transform-style: preserve-3d
    transform: rotateY(-60deg)



  &.mfp-bg
    opacity: 0
    transition: all 0.5s


  /* animate in */
  &.mfp-ready
    .mfp-with-anim
      opacity: 1
      transform: rotateY(0deg)

    &.mfp-bg
      opacity: 0.8



  /* animate out */
  &.mfp-removing

    .mfp-with-anim
      transform: rotateY(60deg)
      opacity: 0

    &.mfp-bg
      opacity: 0


.mfp-bg
  z-index: 9998

.mfp-wrap
  z-index: 9999

@keyframes bounce
  from,
  20%,
  53%,
  80%,
  to
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

  40%,
  43%
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06)
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06)
    -webkit-transform: translate3d(0, -30px, 0)
    transform: translate3d(0, -30px, 0)

  70%
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06)
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06)
    -webkit-transform: translate3d(0, -15px, 0)
    transform: translate3d(0, -15px, 0)

  90%
    -webkit-transform: translate3d(0, -4px, 0)
    transform: translate3d(0, -4px, 0)

.bounce
  -webkit-animation-name: bounce
  animation-name: bounce
  -webkit-transform-origin: center bottom
  transform-origin: center bottom
  animation-duration: 2s
.delay
  animation-delay: 2s
  -webkit-animation-delay: 2s
  -moz-animation-delay: 2s
.delivery
  font-family: HelveticaNeueCyr
  li
    color: $pink
    margin: 10px 0
    span
      color: black
.map
  iframe
    width: 100%

//MEDIA
@media (max-width: 1200px)
  header .mega-menu .menu > li > .megadrop
    max-width: 768px
  header .swiper-4 .prev-4
    left: 40%
  .category
    .category-subhead
      font-size: 12px
      padding: 9px 11px 9px
    .swiper-3
      img
        width: 100%
  .title
    font-size: 28px
  .swiper-container
    text-align: center
  .contacts p
    font-size: 13px
  .white-popup
    p, span
      font-size: 12px
      margin: 10px 0!important
    h2, h3
      font-size: 19px
    .modal-price
      .btn
        padding: 8px 30px
    .modal-bottom
      margin: 15px 0 15px
@media only screen and (min-device-width: 1200px) and (max-device-width: 1500px)
  header .swiper-4 .prev-4
    left: 43%
@media (max-width: 1000px)
  .mega-menu
    .menu
      .col
        width: 45%
        margin: 0 0 0 2.2%
        h3
          font-size: 11px
        ul
          li
            font-size: 10px
  .megadrop
    width: 100%
  .mega-menu .menu > li > .megadrop
    left: 4%
    top: 0
    width: 100%
  .navbar
    position: fixed
    top: 0
    width: 104%
    z-index: 33333
    text-align: center
  header .swiper-4 .img-main
    width: 80%!important
  header .swiper-4 .img-sub
    width: 37%!important
  header .swiper-pagination-fraction
    left: 33%
    bottom: 33%
    font-size: 10px
  header .swiper-4 .next-4
    bottom: 33%
    right: 9.5%
  header .swiper-4 .prev-4
    bottom: 33%
    left: 75%
  header .btn-buy
    left: 20%
  .category
    padding: 0
  .fa-long-arrow-left, .fa-long-arrow-right
    font-size: 16px!important
  .category .category-subhead
    font-size: 21px
  .news .card
    margin: 20px auto
  .title
    font-size: 18px
  .contacts
    padding: 20px 0
  footer
    padding: 30px 0 40px 0
  footer .subscribe .btn
    -webkit-transform: unset
    -moz-transform: unset
    -ms-transform: unset
    -o-transform: unset
    transform: unset
  footer .subscribe .email
    width: 50%
  .instagram .swiper-slide a
    left: 15.1%
  header
    .swiper-4
      .white-box
        width: 29%
        height: 16%
  .white-popup
    text-align: center
    p
      margin: 0 25px!important
    .modal-bottom
      margin: 10px auto
    .modal-price
      width: 100%
  .mfp-fade.mfp-wrap .mfp-content
    width: 90%
    vertical-align: unset
    margin-top: 100px
  header
    margin-top: 50px
  .left-menu
    width: 100%
    height: auto
    position: unset
  .content
    width: 100%
    margin-left: 0
  .swiper-4
    display: none
  .bottom-line
    display: none!important
@media only screen and (min-device-width: 1400px) and (max-device-width: 1700px)
  .swiper-4 .prev-4
    left: 44%
@media only screen and (min-device-width: 1700px) and (max-device-width: 1900px)
  .swiper-4 .prev-4
    left: 39%
  .swiper-4 .next-4
    right: 54.5%
  .swiper-pagination-fraction
    left: -94px
@media  (min-width: 1900px)
  .swiper-4 .prev-4
    left: 36%
  .swiper-4 .next-4
    right: 58%
  .swiper-pagination-fraction
    left: -140px
//@media (max-width: 365px) and (min-width: 345px)
//  header .swiper-pagination-fraction
//    left: 125px
//    right: -6px
//    bottom: 155px
//    font-size: 10px
//  header .swiper-4 .next-4
//    bottom: 153px
//    right: 9.5%
//  header .swiper-4 .prev-4
//    bottom: 153px
//    left: 75%
